.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home-page__header {
    font-size: 3em;
    margin-bottom: 2em;
    margin-top: 3em;
    color: #FFCC90;
    display: flex;
    justify-content: center;
}