.gallery-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.fav-header {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #53616A;
    display: flex;
    justify-content: center;
}