.item {
    padding: 1em;
    
}
.item__image {
    width: 100%;
    box-shadow:  0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.item__image-clicked { 
    /* height: 250px; */
    width: 100%;

}

.item-clicked {
    background-color: #9EBDCF;
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}

.item-clicked__user-info {
    width: 90%;
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.item-clicked__user-info_bio {
    width: 50%;
    word-wrap: break-word;

}

.item-clicked__user-info__profile-pic {
    height: 50px;
    width: 50px;
}

.pic-info-clicked {
    width: 80%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-info__descr {
    margin: 1em;
}


.item-clicked__buttons {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 .pic-info__link {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.pic-info__link:hover {
    background-color: #4CAF50;
    color: white; 
}

.item-clicked__favorite-button {
    background-color: white; 
    color: black; 
    border: 2px solid #0781C3;;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
  } 
  
  .item-clicked__favorite-button:hover {
    background-color: #0781C3;
    color: white; 
  } 

  @media only screen and (min-width: 601px) and (max-width: 900px){
    .item__image {
        height: 250px;
    }
    
    .item__image-clicked { 
        /* height: 250px; */
        width: 100%;

    
    }
    
    .item-clicked {
        width: 50%;
    }
   
}


@media only screen and (min-width: 901px) {
    .item__image {
        height: 300px;
    }
    
    .item__image-clicked { 
        /* height: 300px; */
        width: 100%;
    
    }
    
    .item-clicked {
        width: 30%;
    }

    .pic-info__link {
        font-size: 14px;
    }

    .item-clicked__favorite-button {
        font-size: 14px;
      } 
      
    
	
}


