
.search-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-field__input {
    border-radius: 0.5em;
    border: 1px solid #555;
    font-size: 1em;
    width: 40%;
    height: 3rem;
    padding: 12px 20px;
    
}

.search-field__input:focus {
	border: 1px solid #555;
}


.search-button {
	background-color: #0781C3;
	color: #F2EFEA;
	width: 20%;
	height: 2rem;
	font-size: 0.9em;
	border-radius: 0.5rem;
	border: none;
}

.search-button:hover {
    background-color: #01669C;
}

@media only screen and (min-width: 601px) and (max-width: 900px){

    .search-field__input {
        width: 40%;
        
    }


    .search-button {
        width: 20%;
    }
}


@media only screen and (min-width: 901px) {

    
	.search-field__input {
        width: 20%;
        
    }


    .search-button {
        width: 15%;
    }
}


