/* .nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #01669C;
    margin: 1em;
    height: 2em;

}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.nav__list-item {
    background-color: #01669C;

} */

.nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01669C;

  }
  
  .nav__list-item {
    float: left;
  }
  
  .nav__list-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav__list-item a:hover {
    background-color: #111;
  }