
.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01669C;

  }
  
  .nav__list-item {
    float: left;
    width: 25%;
  }
  
  .nav__list-item a {
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav__list-item a:hover {
    background-color: #111;
  }

  @media only screen and (min-width: 601px) and (max-width: 900px){
    .nav__list-item a {
      font-size: 20px;
    }
}


@media only screen and (min-width: 901px) {
  .nav__list-item a {
    font-size: 24px;
  }
}


